<!--Page 'index_publication' du site -->

{% extends "headerfooter.html" %}

{% block titre %}| Index publications{%endblock%}

{% block corps %}
<br/>
    <h2 style="text-align:center ">Index des publications</h2>
    {% if oeuvres %}
    <h2 id="titre2">Il y a {{oeuvres.total}} publications enregistrées :</h2>
    <ul>
        {% for oeuvre in oeuvres.items %}
        <li><a href="{{url_for('oeuvre', id_publ=oeuvre.id_publ)}}">{{oeuvre.titre}}</a></li>
        {% endfor %}
    </ul>
    <nav >
        <ul class="pagination">
            {% for page in oeuvres.iter_pages() %}
            {% if page %}

                    {% if page != oeuvres.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index_publication', page=page) }}">{{page}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link">{{page}}</a>
                    </li>
                    {% endif %}

            {% else %}
                <li>
                  <a>...</a>
                </li>
            {% endif %}

        {% endfor %}
      </ul>
    </nav>

    {% else %}
    <br/><br/>
        <p style="text-align: center;">La base de données est en cours de constitution.</p>
    {% endif %}
    <br/><br/><br/>
{% endblock %}
