<!--Définition de la structure générale des pages-->

<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<!--Définition d'un titre commun aux pages-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Dehau-Maritain {% block titre %}{% endblock %}</title>
	  {% include "partials/css.html" %}
	  {% include "partials/metadata.html" %}
	  <style>
		  #top-navbar {
			  background-color:  #abc4c2; font-weight: bold; color:black;
		  }
		  #top-navbar a, #top-navbar a:visited, #top-navbar  a:link,#top-navbar  a:hover {
			  color:white;
		  }
	  </style>
  </head>
  <body>
	<nav class="navbar navbar-expand-md navbar-light justify-content-between" id="top-navbar" style="">
		<a class="navbar-brand" href="{{url_for('accueil')}}">Dehau-Maritain</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('index_intellectuels')}}">Réseau commun</a> 
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('index_publication')}}">Index des publications</a> 
			</li>     
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('telechargement')}}">Téléchargements</a>
			</li>
			{% if not current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
				</li>
				 {% else %}
					<li class="nav-item">
					  <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('creation_oeuvre')}}">Ajout publication</a>
					</li>
					{% endif %}
                </ul>
                        <form action="{{url_for('recherche')}}" method="GET">
                            <input name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
                            <button class="btn btn-outline-light" type="submit">Rechercher</button>
                        </form>
                    </li>
            </nav>
            <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="row">
                    <div class="col">
                        {% for category, message in messages %}
                            <div class="alert-warning">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endwith %}
            <br/>
			<div class="row">
				<div class="col">
				{% block corps %}{% endblock %}
			</div>
		</div>
	  </div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  <!--Footer-->
  <!-- Footer -->
<footer>
  <!-- Copyright -->
  <br/><br/><br/>
  <div style="text-align:center;">
	<figure>
		<a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire"><img src="http://www.chartes.psl.eu/sites/all/themes/enc_base/images/public/logo-ecole-nationale-des-chartes-header.png" alt="" width="170"></a>
	</figure>
  </div>
  <div style="text-align: center;">
	<p style="font-size:11px">© Influence de réseau Dehau-Maritain, Laure Rossignol, M2 TNAH, Promotion 2020</p>
  <!-- Copyright -->
</footer>

</html>